/* SVG Tower */

.tower-svg{

position:absolute;

inset:0;

width:100%;
height:100%;

z-index:3;

}

.wire{

fill:none;

stroke:#00aaff;

stroke-width:3;

filter:
drop-shadow(
0 0 10px #00aaff
);

stroke-dasharray:2000;

stroke-dashoffset:2000;

animation:
drawLine 3s ease forwards;

}

.floor{
animation-delay:.5s;
}

@keyframes drawLine{

to{
stroke-dashoffset:0;
}

}
